<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
</head>
<style>
    .content {
        max-width: 500px;
        margin: auto;
    }
</style>

<body>

    <div class="content">
    <h1>Scenario 2: General Instructions</h1>
    <br><br>
    You are a self-employed person.
    <br><br>
    Your initial capital or savings until now is $10,000.
    <br><br>
    Your quarterly earnings are $3000<br><br>
    You have bought health-insurance. Each quarter (every 3 months) you pay $500 to insurance as insurance premium.<br><br>
    Hence your quartely savings are $2500 after paying for premium.
    <br><br>
    E.g. your Cumulative Economic Value (CEV) at end of first quarter will be $10,000 + $2,500 = $12,500.
    <br><br>
    Your goal is to maximise your Cumulative Economic Value (CEV) by end of 3 years.
    
    If you fall sick, then you have two options:<br><br>
    1. Status quo (do nothing): Then illness depcreciates/reduces your cumulative economic value by the
    amount of Cost of Illness;<br><br>
    2. Seek healthcare: If you seek health-care then it eliminates the Cost of Illness and you pay for
    cost of health-care and time-cost: The cost of healthcare is indicated by Cost of Care. Seeking care has additional
    time cost indicated by number or hours. Each hour of care costs $10.<br><br>
    - Your insurance will pay for healthcare until a annual $75 deductible. Thereafter, you will pay 20%
    of cost, while your insurance will pay 80%.<br><br>
    - E.g. If your cost of care was $100, then you pay the deductible of $75. Remainder is $100 - $75 =
    $25. You pay 20% of this remainder: 20% x $25 = $5. Your total cost = $75 + $5 = $80.<br><br>
    - If you exhausted or reached your deductible, then you only pay for co-pay until end of year. At
    end of each year the deductible will reset to $75.<br><br>
    In middle of each year, you have the option of getting an annual examination. The cost of
    examination and time cost is indicated. Deductible and co-pay apply to this too.
    <br><br>
    Make your decision at point and maximise your CEV
    <br><br>
    <form  method="post">
    <button type="submit">Next</button>
</form></div>
</body>

</html>